# Directories with large image files
finished_photos/
archive/
faces/
labeled_faces/
photos/

# Python virtual environment and IDE settings
venv/
.env/
.vscode/
.idea/

# Compiled Python files
*.pyc
__pycache__/

# Logs and temporary files
*.log
*.pkl

# System-specific files
.DS_Store
Thumbs.db

from-the-archives.zip